.idea
src/backendProject/llmService/__pycache__/app.cpython-313.pyc
.gitignore
/src/backendProject/llmService/his_ignore.md
/src/cliProject/localCliLLM/image_view/20240714-223921.jpeg
/src/cliProject/localCliLLM/image_view/20240714-223928.jpeg
/src/cliProject/localCliLLM/image_view/20240708162241_1.jpg
/src/cliProject/localCliLLM/image_view/20240708164608_1.jpg
/src/cliProject/localCliLLM/image_view/20240708184737_1.jpg
/src/cliProject/localCliLLM/image_view/20240709115119_1.jpg
/src/cliProject/localCliLLM/image_view/20240709120639_1.jpg
/src/cliProject/localCliLLM/image_view/20240710183759_1.jpg
/src/cliProject/localCliLLM/image_view/20240710183807_1.jpg
/src/cliProject/localCliLLM/image_view/20240710183818_1.jpg
/src/cliProject/localCliLLM/image_view/20240710183824_1.jpg
